<ion-header>
  <ion-toolbar color="primary" id="toolbar">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="chevron-back-sharp" class="ion-padding-top"></ion-icon>
        </ion-col>
        <ion-col size="4.5">
          <ion-text class="font-bold">bhusawal,<p style="border-bottom: 1px solid black;">maha</p></ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="arrow-forward-sharp"></ion-icon>
          <ion-icon name="arrow-back-sharp"></ion-icon>
        </ion-col>
        <ion-col size="4.5">
          <ion-text class="font-bold">pune,<p style="border-bottom: 1px solid black;">maha</p></ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-icon size="large" name="options-outline" class="pt-2.5"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content class="">
  <div>
    <ion-title>
      Passanger Details
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="font-bold">
            Select From MasterList
          </p>

        </ion-col>
        <ion-col>
          <p class="ion-text-end text-red-600 text-base	">
            +Add New Passanger
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-card>
      <ion-card-content style="background-color: lightgrey; color: black;" class="">
        <ion-text class="font-bold">Rohit Nagre|22yrs|12336679</ion-text>
        <ion-text class="ion-margin-start text-base font-semibold ">
          (Default)
        </ion-text>
        <ion-icon class="absolute right-4 top-4 text-12 text-red-600" name="chevron-down-outline"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-title class="text-bold" style="font-weight: bold;">
      Boarding And Dropping Point
    </ion-title>

    <ion-card class="p-0 m-0">
      <ion-card-content>

        <ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col style="border-bottom: 1px solid red; " class="ion-text-center text-red-400">
                BOARDING POINT
              </ion-col>
              <ion-col style="" class="ion-text-center">
                DROPPING POINT
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-radio></ion-radio>
            </ion-col>
            <ion-col>
              <ion-title style="font-weight: bold;">14:00</ion-title>
            </ion-col>
            <ion-col>
              <ion-text>Boravli east
                <p>Infront of omkar building</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-radio></ion-radio>
            </ion-col>
            <ion-col>
              <ion-title style="font-weight: bold;">14:10</ion-title>
            </ion-col>
            <ion-col>
              <ion-text>Boravli east
                <p>Infront of omkar building</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>


    <ion-button class="bottom-button w-full p-0 m-0" size="large" expand="full">Proceed</ion-button>
  </div>
</ion-content>