<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title> Terms & Conditions </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="h-fit">
    <div class="p-6 overflow-y-auto" style="text-align: justify">

      <p>
        Welcome to our KaroBooking platform! By accessing and using our website, you agree to comply with the following
        terms and conditions:
        <br><br>
        <b>1. Booking Process:</b><br>
        - You must provide accurate and complete information during the booking process.<br>
        - Booking confirmation will be sent to the email address/whatsapp number provided by you.<br>
        - We reserve the right to cancel bookings that contain incorrect or fraudulent information.<br>
        <br>
        <b>2. Payment:</b><br>
        - Payment for bus tickets must be made in full at the time of booking.<br>
        - We accept various payment methods, including credit/debit cards and online payment gateways.<br>
        - Prices displayed on our website are inclusive of all applicable taxes and fees, unless otherwise stated.<br>
        <br>
        <b>3. Cancellations and Refunds:</b><br>
        - Cancellation policies vary depending on the bus operator and route.<br>
        - Refunds for cancelled bookings are subject to the terms and conditions of the respective bus operator.<br>
        - Processing fees may apply to cancellations and refunds.<br>
        <br>
        <b>4. Passenger Responsibilities:</b><br>
        - Passengers are responsible for arriving at the bus stop on time.<br>
        - Valid identification may be required for boarding the bus.<br>
        - Passengers must comply with the rules and regulations of the bus operator during the journey.<br>
        <br>
        <b>5. Limitation of Liability:</b><br>
        - We are not liable for any losses, damages, or injuries resulting from delays, cancellations, or accidents
        during the bus journey.<br>
        - We are not responsible for the quality of services provided by the bus operators.<br>
        <br>
        <b>6. Intellectual Property:</b><br>
        - All content on our website, including text, images, logos, and trademarks, is protected by copyright and other
        intellectual property laws.<br>
        - You may not use, reproduce, or distribute any content from our website without prior written consent.<br>
        <br>
        <b>7. Privacy:</b><br>
        - Our privacy practices are governed by the terms of our Privacy Policy.<br>
        - By using our website, you consent to the collection, use, and disclosure of your personal information as
        described in our Privacy Policy.<br>
        <br>
        <b>8. Amendments:</b><br>
        - We reserve the right to amend these terms and conditions at any time without prior notice.<br>
        - Any changes to these terms and conditions will be effective immediately upon posting on our website.<br>
        <br>
        By using our website, you acknowledge that you have read, understood, and agree to be bound by these terms and
        conditions. If you do not agree with any part of these terms, please refrain from using our website for bus
        bookings.
        <br><br>
        If you have any questions or concerns about these terms and conditions, please contact us at +91-9922200058
        <br><br>
        Thank you for choosing us for your bus booking needs. We look forward to serving you!

      </p>
    </div>
  </div>
</ion-content>