<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Refund Policy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="h-fit">
    <div class="p-6 overflow-y-auto" style="text-align: justify">

      <p>
        Thank you for choosing our KaroBooking platform. Please review our refund policy carefully before making a
        booking:
        <br><br>
        <b>1. Cancellation by Passenger:</b><br>
        - If you wish to cancel your booking, please do so as soon as possible.<br>
        - Refunds for cancelled bookings are subject to the cancellation policy of the respective bus operator.<br>
        - Processing fees may apply to cancellations, and refund amounts may vary depending on the timing of the
        cancellation.
        <br><br>
        <b>2. Cancellation by Bus Operator:</b><br>
        - In the event of a cancellation by the bus operator due to unforeseen circumstances such as mechanical issues
        or operational reasons, you will be entitled to a full refund.<br>
        - We will notify you of any cancellations by the bus operator and facilitate the refund process accordingly.
        <br><br>
        <b>3. Refund Processing:</b><br>
        - Refunds will be processed using the original payment method used for the booking.<br>
        - Please allow a reasonable processing time for the refund to reflect in your account.<br>
        - We are not responsible for any delays in refund processing caused by third-party payment processors or
        financial institutions.
        <br><br>
        <b>4. No-show Policy:</b><br>
        - If you fail to board the bus for your scheduled journey without prior cancellation, you will not be eligible
        for a refund.<br>
        - Please ensure that you arrive at the bus stop on time and present valid identification for boarding.
        <br><br>
        <b>5. Contact Us:</b><br>
        - If you have any questions or concerns about our refund policy or need assistance with a refund request, please
        contact our customer support team.<br>
        - We are here to help you with any refund-related inquiries and ensure a smooth refund process.
        <br><br>
        By making a booking through our platform, you acknowledge that you have read, understood, and agreed to our
        refund policy. If you have any specific questions about the refund policy for a particular booking or require
        further clarification, please don't hesitate to reach out to us.
        <br><br>
        Thank you for choosing us for your bus booking needs. We appreciate your trust in our services.

      </p>

    </div>
  </div>
</ion-content>