.container {
    width: 100%;
    
    
  }
  
  form {
    margin: 20px 0;
  }
  
  label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
  }
  
  input {
    padding: 10px;
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    letter-spacing: 1px;
    
  }